body {
    padding-left: 10px;
    padding-right: 10px;
}
.jumbotron {
    min-height: 750px;
    background-image: url(../images/ep2.jpg);
    background-size: cover;
    padding-top: 0;
    
}

.display-4 {
    color:white;
}

.lead {
    color: white;
}

.container {
    margin-top: 5%;
    margin-bottom: 5%;
}


.row {
    justify-content: space-around; 
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: rgb(222, 189, 172);
    transition: transform .4s;
    cursor:pointer;
    box-shadow: 5px 2px 2px  rgb(229, 227, 226);
}
.card:hover {
    transform: scale(1.02);
}
.btn-primary {
    background-color: rgb(222, 189, 172);
    border: none;
}

.btn-secondary {
    background-color: transparent;
}

form {
    width: 500px;
    height: 500px;
    margin: 50PX auto;
}

#co {
    margin: 20px;
}

.fa-brands {
    color: white;
}

.btn {
    margin-bottom: 10px;
}

.fl {
    display: flex;
    justify-content: flex-end;
}

.c {
    color:white;;
}

section .container-fluid{
    background-color: black;
    min-height: 300px;
}

#abouti {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.bio {
    color: white;
}

.skills {
    color:rgb(222, 189, 172);
    padding: 10px;
}

.n {
    padding-top: 10px;
    padding-left: 5px;
}

.soc {
    padding:10px;
}

#pfol {
    font-family: 'Roboto', sans-serif;
    
}

.idd {
    min-height: 400px;
    display: flex;
    align-content: center;
}

.ild {
    align-self: center; 
    padding-left: 20px;;
}

